{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellendus deserunt quaerat consequuntur quasi odio
        nemo amet officiis quidem nihil consectetur culpa ad perspiciatis neque, alias dicta dignissimos consequatur
        placeat! Corrupti omnis pariatur ad distinctio voluptatibus ea, sapiente, in voluptates recusandae accusamus
        repellendus eveniet alias voluptatum animi. Quidem dicta inventore corrupti error porro sint necessitatibus
        accusamus aperiam accusantium aspernatur quam adipisci commodi quis in repellendus excepturi, sit eum non
        laudantium. Eius perspiciatis, debitis tempore fugiat laudantium itaque est vero doloremque harum quis? Iste,
        necessitatibus. Rerum in, cum placeat repellat laboriosam corrupti esse debitis facilis. A voluptates vero eos
        nesciunt corporis!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eaque reiciendis voluptatibus officia fugiat
        soluta temporibus? Excepturi, laudantium! Odit autem cupiditate delectus fugiat amet. Officia, adipisci et quam
        accusamus unde provident nam velit quibusdam ipsum nisi dolorum maxime est enim possimus impedit explicabo
        voluptas nostrum minus eum labore, vitae nemo.</p>
</div>
{% endblock content %}