<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}"> {% endcomment %}
    <!-- CSS only -->
    <link defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% comment %} <script src=" {% static 'core/js/bootstrap.js' %} " defer></script> {% endcomment %}
    {% comment %} <script src=" {% static 'core/js/jquery.js' %} " defer></script> {% endcomment %}
    <script src=" {% static 'core/js/core.js' %} " defer></script>
    <title>Air Polution</title>
</head>

<body>
    {% include 'core/navbar.html' %}
    <div class=" container-fluid">
        <div class=" row">
            <div class="col-sm-12">
                {% block msg %}
                {% endblock msg %}
            </div>
        </div>
        <div class="row">
            {% block side %}{% endblock side %}

            {% block content %}{% endblock content %}
        </div>
    </div>
</body>

</html>