{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container main-home mt-5">
    <div class="row d-flex justify-content-center btn-row">
        <div class="col-xl-5">
            <center>
                <p>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample1" aria-expanded="false"
                        aria-controls="collapseWidthExample1">
                        Vehicular Pollution
                    </button>
                </p>
            </center>
            <div style="min-height: 10px;" class="pollution-col">
                <div class="collapse collapse-vertival mb-4" id="collapseWidthExample1">
                    <div class="card card-body">
                        This is some placeholder content for a horizontal collapse. It's hidden by default and shown
                        when
                        triggered.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti exercitationem nostrum
                        laudantium autem itaque explicabo inventore, aut, expedita debitis, corporis dolorum architecto
                        modi voluptate a reiciendis? Rerum illum ipsum quis, ipsam, voluptates consequatur nostrum
                        
                        
                            <img src="{% static 'core/img/vehicular.png' %}" class="card-img-top  border border-secondary mt-3" alt="...">
                            <p class="text-center mt-2">Vehicular Pollution Graph</p>
                          
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-5">
            <center>
                <p>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample2" aria-expanded="false"
                        aria-controls="collapseWidthExample1">
                        Industrial Pollution
                    </button>
                </p>
            </center>
            <div style="min-height: 10px;" class="pollution-col">
                <div class="collapse collapse-vertical mb-4" id="collapseWidthExample2">
                    <div class="card card-body">
                        This is some placeholder content for a horizontal collapse. It's hidden by default and shown
                        when
                        triggered.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti exercitationem nostrum
                        laudantium autem itaque explicabo inventore, aut, expedita debitis, corporis dolorum architecto
                        modi voluptate a reiciendis? Rerum illum ipsum quis, ipsam, voluptates consequatur nostrum
                       
                            <img src="{% static 'core/img/industrial.png' %}" class="card-img-top mt-3 border border-secondary" alt="...">
                            <p class="text-center mt-2">Industrial Pollution Graph</p>
                      
                    </div>
                </div>
            </div>

        </div>
    </div>


    {% comment %} <div class="row d-flex justify-content-center btn-row">
        <div class="col-md-5 mb-2 d-flex justify-content-center">
            <button class="btn btn-outline-secondary" type="button">
                Vehicular Pollution
            </button>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            <button class="btn btn-outline-secondary" type="button">
                Industrial Pollution
            </button>

        </div>
    </div> {% endcomment %}
    <div class="row input-content mt-5 m-auto">
        <h2 class="text-capitalize text-center my-4" id="h21">Air Pollution Prediction</h2>

        <center>

            <div class="dropdown mb-5">
                <button class="btn btn-secondary dropdown-toggle w-75" type="button" id="select-city"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Select City
                </button>
                <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenuButton1">
                    {% for city in city_names %}
                    <li><a class="dropdown-item" onclick="select({{forloop.counter0}})">{{city}}</a></li>
                    {% endfor %}
                </ul>
            </div>

        <form method="post" id="predictedData">
            {% csrf_token %}
            <div class="row  d-flex justify-content-center row-form">
                <div class="col-md-2 mt-3 col-lg-"><input type="number" class="form-control w-100"
                     aria-describedby="numHelp" placeholder="PO2.5"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="PM10"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="NO"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="NO2"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="NOX"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="NH3"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="CO"></div>

                {% comment %}
            </div> {% endcomment %}
            {% comment %} <div class="row d-flex justify-content-center"> {% endcomment %}
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="SO2"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="O3"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="BENZENE"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="TOLUENE"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="XYLENE"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="AQI"></div>
            </div>
            <center><button class="btn btn-primary mt-5 m-auto" type="button" onClick="fetchData()">Submit</button></center>
        </form>
    </div>
    <div class="row" id="resultRow" style="display: none;">
        <h5 class="mt-4 text-center border border-warning text-dark py-3" id="resultHeading" style="width: 86%;left: 0px;right: 0px;margin-left: auto;margin-right: auto; background-color: white;">Result</h5>
        <div style="width: 86%;text-align: center;left: 0px;right: 0px;margin-left: auto;margin-right: auto;">
            <table class="table" id="myTable">
            <thead>
                <tr>
                <th scope="col">S.no</th>
                <th scope="col">City</th>
                <th scope="col">PM2.5</th>
                <th scope="col">PM10</th>
                <th scope="col">NO</th>
                <th scope="col">NO2</th>
                <th scope="col">NOx</th>
                <th scope="col">NH3</th>
                <th scope="col">CO</th>
                <th scope="col">SO2</th>
                <th scope="col">O3</th>
                <th scope="col">BENZENE</th>
                <th scope="col">TOLUENE</th>
                <th scope="col">XYLENE</th>
                <th scope="col">AQI</th>
                <th scope="col">AIR QUALITY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

</div>

<script>
cityName = "";
cityList = {{city_names | safe}};
const select = (num)=>{
    
    cityName = num;
    console.log("cityName:-",cityList[num]);
}
const fetchData = () =>{
    const formData = document.getElementById('predictedData');
    if(cityName===""){
        alert("Please provide Area");
    }else{
    console.log("elements:-",formData.elements)
    const Pm2 = formData.elements[1].value;
    const Pm10 = formData.elements[2].value;
    const No = formData.elements[3].value;
    const No2 = formData.elements[4].value;
    const Nox = formData.elements[5].value;
    const Nh3 = formData.elements[6].value;
    const Co = formData.elements[7].value;
    const So2 = formData.elements[8].value;
    const O3 = formData.elements[9].value;
    const Benzene = formData.elements[10].value;
    const Toluene = formData.elements[11].value;
    const Xylene = formData.elements[12].value;
    const Aqi = formData.elements[13].value;
    data = {cityName,Pm2,Pm10,No,No2,Nox,Nh3,Co,So2,O3,Benzene,Toluene,Xylene,Aqi}
    console.log("data:-",data);
     $.ajax({
            url : "/make-prediction", // the endpoint
            type : "POST", // http method
            data : { 'dataset' : JSON.stringify(data), 'csrfmiddlewaretoken': '{{csrf_token}}'}, // data sent with the post request
    
            // handle a successful response
            success : function(json) {
                document.getElementById("resultRow").style.display = "block";
                var table = document.getElementById("myTable");
                var row = table.insertRow(1);
                var cell = [];
                let inputValue = Object.values(data);
                for (let i = 0; i < 16 ; i++) {
                    cell[i] = row.insertCell(i);
                    if(i===0){
                        cell[i].innerHTML=i;    
                    }else if(i===1){
                        cell[i].innerHTML=cityList[inputValue[0]];
                    }
                    else if(i>14){
                        cell[i].innerHTML = json.data.Output;
                    }else{
                        cell[i].innerHTML=inputValue[i-1];
                    }
                     
                }
                console.log("successfull call:-",json);
                //console.log(json); // log the returned json to the console
                //console.log("success"); // another sanity check
               /* data = [];
                data.push(stateinput);
                data.push(Number(jan_feb));
                data.push(Number(mar_may));
                data.push(Number(jun_sep));
                data.push(Number(oct_dec));
                data.push(json.data.final_output);
                //console.log("data:-",data);
                dataset.push(data);
                if(grid==""){
                    document.getElementById("resultHeading").style.display = "block";
                    grid = table(dataset,["Region","Jan-Feb","Mar-May","Jun-Sep","Oct-Dec","Annual"],"wrapperOutputTable");
                }
                else{
                    grid.updateConfig({
                            data: dataset
                        }).forceRender();
                }*/
                
            },
        });
    }
    
}
</script>

<div>
    {% include 'core/footer.html' %}
</div>

{% endblock content %}