{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 shadow">
            <h3>Vehicular Polution</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nesciunt dolorum magni aspernatur. Sunt, iste! Ducimus ipsa esse incidunt! Harum in dolores obcaecati! Nemo at quas eligendi facere facilis alias aspernatur nihil a sint eos suscipit vitae, pariatur nam officiis reiciendis quidem assumenda consectetur ipsam eveniet. Ipsum unde voluptatum, necessitatibus quos provident voluptatibus est! Odit totam minima ipsum consequatur aspernatur fuga nihil, accusamus veniam, animi perspiciatis iure ullam eos tempora!</p>

        </div>
        <div class="col-md-5"></div>
    </div>

</div>

<div>
    {% include 'core/footer.html' %}
</div>

{% endblock content %}