{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container main-home mt-5">
    <div class="row d-flex justify-content-center btn-row">
        <div class="col-md-5 mb-2 d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Vehicular Pollution
                </button>
                <ul class="dropdown-menu w-100 scrollable-menu" aria-labelledby="dropdownMenuButton1">
                    {% for p in city_names %} <li><a class="dropdown-item text-uppercase" href="#">{{p}}</a></li>{% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Industrial Pollution
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                    {% for p in city_names %} <li><a class="dropdown-item text-uppercase" href="#">{{p}}</a></li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row input-content mt-5">
        <h2 class="text-capitalize text-center my-4">Air Pollution Prediction</h2>
        <form method="post d-flex">
            <div class="row  d-flex justify-content-center">
                <div class="col-md-2 mt-3 col-lg-"><input type="number" class="form-control w-100"
                        id="exampleInputEmail1" aria-describedby="numHelp" placeholder="PO2.5"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="PM10"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="NO"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="NO2"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="NOx"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="CO"></div>

            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="SO2"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="O3"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="BENZENE"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="TOLUENE"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="XYLENE"></div>
                <div class="col-md-2 mt-3"><input type="number" class="form-control w-100" id="exampleInputEmail1"
                        aria-describedby="numHelp" placeholder="AQI"></div>
            </div>
            <center><button class="btn btn-primary mt-5 m-auto">Submit</button></center>
        </form>
    </div>
  
</div>



<div>
    {% include 'core/footer.html' %}
</div>

{% endblock content %}