<nav class="navbar navbar-expand-lg navbar-white py-3 shadow">
    <div class=" container-fluid">
        <a class="navbar-brand p-2 title-color text-uppercase" href="/">Air Polution</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link {{home}} " aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{about}}" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  {{contact}} " href="{% url 'contact' %}">Contact</a>
                </li>

                {% if request.user.is_authenticated %}
                {% comment %} the upper if condition show that if the user is logged in then the follwing code will we
                executed inside if condtions{% endcomment %}
                <li class="nav-item">
                    <a class="nav-link {{dashboard}} " href="{% url 'dashboard' %}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link {{signup}} " href="{% url 'signup' %}">Signup</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link  {{login}} " href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>